

    <section id ="page-header" class="about-header">


<h2>Profile </h2>

    </section>



    <section id="contact-details" class="section-p1">
        <div class="details">
            
            <span>Personal Details</span>
            <h2>Your Name</h2>
            <h3>Location</h3>
            <div>

                <li>
                    <i class="fal fa-map"></i>
                    <p>12 Trivandrum Kerala India</p>
                </li>
                
                <li>
                    <i class="far fa-envelope"></i>
                    <p>info@sercium.com</p>
                </li>
                
                <li>
                    <i class="fas fa-phone-alt"></i>
                    <p>+91 9876543215</p>
                </li>
                
                <li>
                    <i class="far fa-clock"></i>
                    <p>24 / 7</p>
                </li>
            
            </div>

        </div>



    </section>

    <section id="form-details">
        <form action="">
            <span>EDIT PROFILE</span><br>

           <!-- <h2>We love to hear from you</h2> -->
            <input type="text" placeholder="Your Name">
            <input type="text" placeholder="Location">
            <input type="text" placeholder="E-mail">
            <input type="phone" placeholder="Phone">
            <input type="number" placeholder="Experience">
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Description"></textarea>
            <button class="normal">Save</button>
        </form>

        <div class="people">
            <h3>Your Team</h3><br>

            <div>
                <img src="img/about/people/p1.png" alt="">
                <p><span>John Doe</span>Senior Manager<br>Email:john@sercium.com</p>
            </div>
            <div>
                <img src="img/about/people/p1.png" alt="">
                <p><span>Koya PLok </span>Project Head<br>Email:koya@sercium.com</p>
            </div>
            <div>
                <img src="img/about/people/p1.png" alt="">
                <p><span>Agex Crevn</span>Team Lead<br>Email:agex@sercium.com</p>
            </div>

            <div>
                <img src="img/about/people/p1.png" alt="">
                <p><span>Xevin Kped</span>Design Head<br>Email:xevin@sercium.com</p>
            </div>
            <div>
                <img src="img/about/people/p1.png" alt="">
                <p><span>Nasd Oaed</span>Media Head<br>Email:nasd@sercium.com</p>
            </div>

        </div>

    </section>


 
