

<section id ="ads">

</section>







<!--small banners-->
<section id="sm-banner" class="section-p1">

   <div class="banner-box">
      <h4>Book Now</h4>
      <h2>lorem ipsum </h2>
      <span>lorem ipsum sample text hre </span>
      <button class="white">Learn More</button>
   </div>

   <div class="banner-box banner-box2">
      <h4>Book Now</h4>
      <h2>lorem ipsum </h2>
      <span>lorem ipsum sample text hre </span>
      <button class="white">Learn More</button>
   </div>


</section>

<!--banner3-->
<section id="banner3" >

   <div class="banner-box">
      <h2>LOREM IPSUM </h2>
      <h3>loewm ipsum sample</h3>
   </div>

   <div class="banner-box banner-box2">
      <h2>LOREM IPSUM </h2>
      <h3>loewm ipsum sample</h3>
   </div>

   <div class="banner-box banner-box3">
      <h2>LOREM IPSUM </h2>
      <h3>loewm ipsum sample</h3>
   </div>

</section>


