
    <!--ADMIN TOP NAV BAR STARTS  -->
<header>
     <section id="header">
        
        <a href="#"> <img src="../images/img/logo/logo.png" style="height: 50px;width:180px;" class="logo" alt="alttext"> </a>

    <div>
        <ul id="navbar">
            <li><a  href="/admin/admin-home">Home</a></li>
            <li><a href="/admin/admin-all-items">Services</a></li>

            <li><a href="/admin/admin-centers">Centers</a></li>
            <li><a href="/admin/admin-customers">Customers</a></li>

            <li><a href="/admin/admin-about">About</a></li>
            <li><a href="/admin/admin-contact">Contact</a></li>
           <!-- <li><a href="profile.html">Profile</a></li> -->
            <li id="lg-bag"><a href="/admin/admin-profile"><i class="fas fa-id-card-alt"></i></a></li>
            <a href="#" id="close"><i class="far fa-times"></i></a>
        </ul>
    </div>
    <div id="mobile">
      <a href="/admin/admin-profile"><i class="fas fa-id-card-alt"></i></a>
      <i id="bar" class="fas fa-outdent"></i>

    </div>
    </section>



    </header>
<!--ADMIN TOP NAVBAR ENDS HERE-->




