    <!-- TOP NAV BAR STARTS  -->
<header>

     <section id="header">
        
        <a href="#"> <img src="/images/img/logo/logo.png" style="height: 50px;width:180px;" class="logo" alt="alttext" ondblclick="window.location.href='/admin-login';" > </a>

    <div>
        <ul id="navbar">
            <li><a href="/center/center-index">Home</a></li>
            {{!-- <li><a href="/worker/worker-myworks">My Works</a></li> --}}
            <li><a href="/center/center-appointments">Appointments</a></li>
            {{!-- <li><a href="/center/center-tasks">Tasks</a></li> --}}
            <li><a href="/center/center-about">About</a></li>
            <li><a href="/center/center-contact">Contact</a></li>
           <!-- <li><a href="profile.html">Profile</a></li> -->
            <li id="lg-bag"><a href="/center/center-profile"><i class="fas fa-id-card-alt"></i> Profile</a></li>
            <a href="#" id="close"><i class="far fa-times"></i></a>
        </ul>
    </div>
    <div id="mobile">
      <a href="/center/center-profile"><i class="fas fa-id-card-alt"></i></a>
      <i id="bar" class="fas fa-outdent"></i>



    </div>
    </section>
    </header>

<!-- TOP NAVBAR ENDS HERE-->


