
<!--section containing user homepage-->


<section id ="ads">
<!--
<h4>Offers</h4>
<h2>Save</h2>
<h1>on All</h1>
<p>save more coupons</p>
<button>Explore Now</button>
-->
</section>


<!--featured teams-->
<section id = "featured" class="section-p1">
     <div class = "fe-box">
        <img src="images/img/featured/fe2.jpg" alt="fe2" class="fe-img1" >
        <h6>TEAM 1</h6>

     </div>
     <div class = "fe-box">
        <img src="images/img/featured/fe2.jpg" alt="fe2" class="fe-img1" >
        <h6>TEAM 2</h6>

     </div>
     <div class = "fe-box">
        <img src="images/img/featured/fe2.jpg" alt="fe2" class="fe-img1" >
        <h6>TEAM 3</h6>

     </div>
     <div class = "fe-box">
        <img src="images/img/featured/fe2.jpg" alt="fe2" class="fe-img1" >
        <h6>TEAM 4</h6>

     </div>

     <div class = "fe-box">
        <img src="images/img/featured/fe2.jpg" alt="fe2" class="fe-img1" >
        <h6>TEAM 5</h6>

     </div>

     
</section>


<!--featured works-->
<section id="work1" class="section-p1">
   <h2>Featured Works</h2>
   <p>Featured Works by Teams</p>

   <div class="work-container">

      <div class="work">
         <img src="images/img/works/pxb/w1.jpg" alt="">
         <div class="des">
            <span>teams</span>
            <h5>This is worker</h5>
            <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
         <h4>$154</h4>
         </div>
     <!-- <a href="#"><i class="fas fa-plus cart"></i></a> -->
      <button class="add"
        onclick="alert('Save processed.')">
        ADD</button>
      </div>
      
      <div class="work">
         <img src="images/img/works/pxb/w2.jpg" alt="">
         <div class="des">
            <span>teams</span>
            <h5>This is worker</h5>
            <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
         <h4>$154</h4>
         </div>
   <!-- <a href="#"><i class="fas fa-plus cart"></i></a> -->
      <button class="add"
        onclick="alert('Save processed.')">
        ADD</button>      </div>
      
      
      <div class="work">
         <img src="images/img/works/pxb/w4.jpg" alt="">
         <div class="des">
            <span>teams</span>
            <h5>This is worker</h5>
            <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
         <h4>$154</h4>
         </div>
   <!-- <a href="#"><i class="fas fa-plus cart"></i></a> -->
      <button class="add"
        onclick="alert('Save processed.')">
        ADD</button>      </div>
      
      <div class="work">
         <img src="images/img/works/pxb/w5.jpg" alt="">
         <div class="des">
            <span>teams</span>
            <h5>This is worker</h5>
            <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
         <h4>$154</h4>
         </div>
   <!-- <a href="#"><i class="fas fa-plus cart"></i></a> -->
      <button class="add"
        onclick="alert('Save processed.')">
        ADD</button>      </div>
      
      <div class="work">
         <img src="images/img/works/pxb/w6.jpg" alt="">
         <div class="des">
            <span>teams</span>
            <h5>This is worker</h5>
            <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
         <h4>$154</h4>
         </div>
   <!-- <a href="#"><i class="fas fa-plus cart"></i></a> -->
      <button class="add"
        onclick="alert('Save processed.')">
        ADD</button>      </div>
      
      <div class="work">
         <img src="images/img/works/pxb/w7.jpg" alt="">
         <div class="des">
            <span>adidas</span>
            <h5>This is worker</h5>
            <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
         <h4>$154</h4>
         </div>
   <!-- <a href="#"><i class="fas fa-plus cart"></i></a> -->
      <button class="add"
        onclick="alert('Save processed.')">
        ADD</button>      </div> 
      
      <div class="work">
         <img src="images/img/works/pxb/w9.jpg" alt="">
         <div class="des">
            <span>teams</span>
            <h5>This is worker</h5>
            <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
         <h4>$154</h4>
         </div>
   <!-- <a href="#"><i class="fas fa-plus cart"></i></a> -->
      <button class="add"
        onclick="alert('Save processed.')">
        ADD</button>      </div> 
      
      <div class="work">
         <img src="images/img/works/pxb/w8.jpg" alt="">
         <div class="des">
            <span>teams</span>
            <h5>This is worker</h5>
            <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
         <h4>$154</h4>
         </div>
   <!-- <a href="#"><i class="fas fa-plus cart"></i></a> -->
      <button class="add"
        onclick="alert('Save processed.')">
        ADD</button>      </div>

     

   </div>

</section>

<!--banner-->
<section id="banner" class="section-m1">

   <h4>Repair & Maintenance</h4>
   <h2>Up to <span> 80% Off</span> - All works & services</h2>
   <button class="normal">Explore More</button>

</section>

<!--Newly added works-->
<section id="work1" class="section-p1">
   <h2>Newly Added Works</h2>
   <p> Works by Teams</p>

   <div class="work-container">

      <div class="work">
         <img src="images/img/works/pxb/w1.jpg" alt="">
         <div class="des">
            <span>teams</span>
            <h5>This is worker</h5>
            <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
         <h4>$154</h4>
         </div>
   <!-- <a href="#"><i class="fas fa-plus cart"></i></a> -->
      <button class="add"
        onclick="alert('Save processed.')">
        ADD</button>      </div>
      
      <div class="work">
         <img src="images/img/works/pxb/w2.jpg" alt="">
         <div class="des">
            <span>teams</span>
            <h5>This is worker</h5>
            <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
         <h4>$154</h4>
         </div>
   <!-- <a href="#"><i class="fas fa-plus cart"></i></a> -->
      <button class="add"
        onclick="alert('Save processed.')">
        ADD</button>      </div>
      
      <div class="work">
         <img src="images/img/works/pxb/w9.jpg" alt="">
         <div class="des">
            <span>teams</span>
            <h5>This is worker</h5>
            <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
         <h4>$154</h4>
         </div>
   <!-- <a href="#"><i class="fas fa-plus cart"></i></a> -->
      <button class="add"
        onclick="alert('Save processed.')">
        ADD</button>      </div>
      
      <div class="work">
         <img src="images/img/works/pxb/w10.jpg" alt="">
         <div class="des">
            <span>teams</span>
            <h5>This is worker</h5>
            <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
         <h4>$154</h4>
         </div>
   <!-- <a href="#"><i class="fas fa-plus cart"></i></a> -->
      <button class="add"
        onclick="alert('Save processed.')">
        ADD</button>      </div>
      
      <div class="work">
         <img src="images/img/works/pxb/w7.jpg" alt="">
         <div class="des">
            <span>teams</span>
            <h5>This is worker</h5>
            <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
         <h4>$154</h4>
         </div>
   <!-- <a href="#"><i class="fas fa-plus cart"></i></a> -->
      <button class="add"
        onclick="alert('Save processed.')">
        ADD</button>      </div>
      
      <div class="work">
         <img src="images/img/works/pxb/w4.jpg" alt="">
         <div class="des">
            <span>teams</span>
            <h5>This is worker</h5>
            <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
         <h4>$154</h4>
         </div>
   <!-- <a href="#"><i class="fas fa-plus cart"></i></a> -->
      <button class="add"
        onclick="alert('Save processed.')">
        ADD</button>      </div>
      
      <div class="work">
         <img src="images/img/works/pxb/w5.jpg" alt="">
         <div class="des">
            <span>teams</span>
            <h5>This is worker</h5>
            <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
         <h4>$154</h4>
         </div>
   <!-- <a href="#"><i class="fas fa-plus cart"></i></a> -->
      <button class="add"
        onclick="alert('Save processed.')">
        ADD</button>      </div>
      
      <div class="work">
         <img src="images/img/works/pxb/w6.jpg" alt="">
         <div class="des">
            <span>teams</span>
            <h5>This is worker</h5>
            <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </div>
         <h4>$154</h4>
         </div>
   <!-- <a href="#"><i class="fas fa-plus cart"></i></a> -->
      <button class="add"
        onclick="alert('Save processed.')">
        ADD</button>      </div>

     

   </div>

</section>

<!--small banners-->
<section id="sm-banner" class="section-p1">

   <div class="banner-box">
      <h4>Book Now</h4>
      <h2>lorem ipsum </h2>
      <span>lorem ipsum sample text hre </span>
      <button class="white">Learn More</button>
   </div>

   <div class="banner-box banner-box2">
      <h4>Book Now</h4>
      <h2>lorem ipsum </h2>
      <span>lorem ipsum sample text hre </span>
      <button class="white">Learn More</button>
   </div>


</section>

<!--banner3-->
<section id="banner3" >

   <div class="banner-box">
      <h2>LOREM IPSUM </h2>
      <h3>loewm ipsum sample</h3>
   </div>

   <div class="banner-box banner-box2">
      <h2>LOREM IPSUM </h2>
      <h3>loewm ipsum sample</h3>
   </div>

   <div class="banner-box banner-box3">
      <h2>LOREM IPSUM </h2>
      <h3>loewm ipsum sample</h3>
   </div>

</section>

<!--NEWSLETTER-->

<section id="newsletter" class="section-p1 section-m1">
   <div class="newstext">
      <h4>Sign Up for Welltour</h4>
      <p>Get updates Welltour <span>offers</span> etc</p>
   </div>
   
   <div class="form">
      <input type="text" placeholder="Your email address">
      <button class="normal">SignUp</button>


   </div>

</section>

<!--section containing user homepage ends here-->
